aniso8601==9.0.1
atomicwrites==1.4.1
attrs==19.3.0
bcrypt==3.1.7
blinker==1.7.0
cffi==1.14.0
Click==7.0
colorama==0.4.3
dnspython==2.6.1
email-validator==2.1.0.post1
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==4.0.0
Flask-JWT-Extended==3.25.0
flask-mongoengine==0.9.5
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
idna==3.6
importlib-metadata==7.0.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mongoengine==0.27.0
pycparser==2.21
PyJWT==1.7.1
pymongo==4.6.2
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
Werkzeug==1.0.0
WTForms==3.1.2
zipp==3.17.0
